.secured-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .title {
    margin-left: 16px;
  }

  &.is-mobile {
    .toolbar {
      position: fixed;
      z-index: 2;
    }

    .sidenav-container {
      flex: 1 0 auto;
    }
  }

  .sidenav-container {
    flex: 1;

    .sidenav {
      width: 200px;
    }
  }
}
